%% This line tells emacs to use -*- erlang -*- mode for this file
%%{erl_opts, [debug_info]}.
{erl_opts, [warnings_as_errors]}.
{deps_dir, ["deps"]}.
{deps, [%%{jsx, ".*",
	%% {git, "git://github.com/talentdeficit/jsx.git", ""}},
	{'erlang-rpi-hw-drivers', ".*",
	 {git, "git://github.com/drimtajm/erlang-rpi-hw-drivers", ""}}
       ]}.
